body main {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}

figure {
    margin: 0;
}

body {
    font: 14px Raleway, Helvetica, Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
}

body nav {
    background-color: #252525;
    padding: .5em 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

body nav img {
    height: 30px;
}

.logo {
    width: auto;
    height: auto;
    max-height: 30px;
}

body nav .nav-items {
    list-style: none;
    margin: 0;
}

body nav .nav-items li {
    display: inline-block;
    height: 100%;
    line-height: 30px;
    margin-right: 15px;
}

body nav .nav-items li a {
    color: white;
    text-decoration: none;
}

body nav .nav-items li a img {
    height: 1em;
    margin-right: .3em;
    vertical-align: middle;
}

body nav .nav-items li a:hover {
    color: #d84a4a;
}

body .clear {
    clear: both;
}

body header {
    width: 100%;
    height: 50vh;
    max-height: 56vw;
    overflow: hidden;
}

body header img {
    width: 100%;
}

body a {
    color: #00B7FF;
}

body article.item {
    width: 300px;
    height: 600px;
    margin: .5em;
}

body article.item img {
    max-width: 100%;
}

body article.item h2 img, body .appearance-right h2 img {
    width: 2em;
    height: 2em;
    margin-right: .5em;
    border-radius: 50%;
}

body article.item h2, body .appearance h2 {
    font-size: 16px;

        display: -webkit-flex;
        display: flex;

        -webkit-align-items: center;
        align-items: center;

    margin-bottom: .5em;
}

body article.item h1 {
    margin-top: 0;
    font-size: 21px;
}

.appearance {
    display: flex;
    flex-wrap: wrap;
}

body .appearance h2 {
    font-size: 21px;
}

body .appearance .appearance-left {
    width: 400px;
    height: 600px;
    margin-right: 2em;
    position: relative;
}

body .appearance-left img {
    width: 100%;
}

body .appearance .appearance-left .product-indicator {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #00B7FF;
    border: 2px solid #ddd;
    border-radius: 50%;
}

body .appearance .appearance-left .product-indicator.product-indicator-active {
    background-color: #b4da55;
}

body .appearance .appearance-products {
    width: 400px;
    position: relative;
    overflow: hidden;
    height: 700px;
}

body .appearance .appearance-products .product {
    width: 450px;
    max-width: 100%;
    position: absolute;
    left: 100%;
    transition: left .3s;
}

body .appearance .appearance-products .product.product-active {
    left: 0;
}

body .appearance-products > h1 {
    font-size: 21px;
    color: #333;
    padding-bottom: .5em;
    border-bottom: 1px solid #ddd;
}

.product img {
    width: 100%;
    height: 100%;
    max-width: 150px;
}

body .actual, body .similar {
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    padding-bottom: .5em;
    border-bottom: 1px solid #ddd;
}

body .actual img{
    max-width: 200px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.product > h1{
    margin: .5em 0;
    color: #333;
    font-size: 16px;
    border-bottom: none;
}

body .actual img, body .similar img {
    margin-right: 1em;
}

body .actual .info h1, body .similar .info h1 {
    font-size: 21px;
    margin: 0em 0 .5em 0;
    border-bottom: none;
}

body .actual .info h2, body .similar .info h2 {
    font-size: 16px;
    margin: 1em 0;
}

.actual > h1, .similar > h1 {
    width: 100%;
}